* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    background: ghostwhite;
}

.main-con {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.main {
    height: 330px;
    width: 500px;
    padding: 4px;
    background: #1e1e1e;
    border-radius: 5px;
    outline: 1px solid #969696;
    box-shadow: 
        white 0px 0px 12px,
        #1e1e1e 0px 0px 17px,
        #969696 0px 0px 25px;
}

.textarea {
    width: 100%;
    height: 48%;
    resize: none;
    outline:none;
    padding: 3px;
    background: #2d2d2d;
    border-radius: 3px;
    caret-color: white;
    caret-shape: block;
    color: aliceblue;
}

.controls{
    height: 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    background: white;
    margin-top: 5px; 
    width: 250px;
    border-radius: 5px;
    outline:  2px solid #989898;
}

.controls > button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    background-color: lightgreen;
    margin-right: 20px;
    cursor:pointer;
}

.controls > button:active {
    opacity: 0.6;
}

.controls > span {
    font-family: monospace;
    font-size: 15px;
}

